* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  margin: 0;
}

/* - - - - - - - these are utilities - - - - -- - - - */

.text-left {
  text-align: left
}

.logo {
  font-family: 'Work Sans', sans-serif;
}

.button {
  padding: 1rem;
  background-color: yellow;
  color: white;
}
a {
  text-decoration: none;
}

/* - - - - - - -- -- this is the header - - - -- - - - */

header h1 {
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
}

header a {
  color: black;
  text-decoration: none;
}

.header-logo {
  text-align: center;
}
/* - -- - - - - - --- this is the nav - - - - - -- - - - */


header div .col-2-middle {
  text-align: center;
}

nav {
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  text-align: right;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: .5rem;
}

/* - - - - - - - - - - - this is the footer - -   - - - - - - -  */

footer {
  margin-bottom: 0;
}

.footer-logo {
  font-weight: lighter;
  font-size: 18px;
}
footer p {
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  text-align: right;
}

/* ------------------this is the index page --------------- */

.index-banner {
  background-image: url("/images/laptop.jpg");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  object-fit: cover;
}

section {
  color: white;
}
