* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  margin: 0;
}

img {
  max-width: 100%;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  padding: .75rem;
}

h2 {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-family: 'Work Sans', sans-serif;
}

i {
  font-size: 18px;
}

header {
  color: #32312C;
  padding-bottom: 1.5rem;
}
/* - - - - - - - these are utilities - - - - -- - - - */

.text-left {
  text-align: left
}

.logo {
  font-family: 'Work Sans', sans-serif;
}

.button {
  background-color: #8b8273;
  color: white;
  display: inline-block;
  padding: .5rem;
}
.center {
  text-align: center;
}

a {
  text-decoration: none;
  color:inherit;
}

.title {
  text-align: center;
  font-size: 35px;
  color: #32312C;
  padding: 5%;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.padding1 {
  padding: 9%;
}


.padded {
  padding: 2%;
}

.margin-bottom {
  margin-bottom: 1rem;
}

p {
  font-family: 'Lato', sans-serif;
}

.margin-top {
  margin-top: 2%;
}
/* - - - - - - -- -- this is the header - - - -- - - - */

header h1 {
  font-size: 37px;
  font-weight: lighter;
  text-decoration: none;
}

header a {
  text-decoration: none;
}

.header-logo {
  text-align: center;
  padding-top: 5%;
}
/* - -- - - - - - --- this is the nav - - - - - -- - - - */


header div .col-2-middle {
  text-align: center;
}

nav {
  font-family: 'Lato', sans-serif;
  text-align: right;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #32312C;
  padding: .3rem;
}


/* - - - - - - - - - - - this is the footer - -   - - - - - - -  */

footer {
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
}

.footer-logo {
  font-size: 18px;
  color: black;
}
footer p {
  font-family: 'Lato', sans-serif;
  text-align: right;
}

/* ------------------this is the index page --------------- */

.index-banner {
  background-image: url("/images/bannerimage.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  object-fit: cover;
  position: relative;
  margin-top: 2%;
}

.whiteline {
  position: absolute;
  background-image: url('/images/whiteline.svg');
  background-size: 97%;
  background-position: -276% 36%;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}

.index {
  color: white;
  padding-left: 10%;
  font-family: 'Work Sans', sans-serif;
  padding-top: 25%;
}
.h2-index {
  font-size: 63px;
  font-weight: normal;
}

.div-index {
  font-size: 26px;
}

.h2-index, .div-index {
  text-shadow: 0 0 2rem black;
}

.button-index {
  margin-top: 2%;
  margin-left: 10rem;
}

/* - - - - - -  - - - this is the about page - - - -- - - - - */

.about-banner {
  background-image: url("/images/about.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 80vh;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  position: relative;
  background-position: center;
}

.about-h2 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  text-shadow: 0 0 3rem black;
  margin-top: 15%;
}

.h2-text {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.about-p {
  text-align: left;
  padding: 5%;
}
/* - - - - - - - - - this is the services page - - - - - - - -- - - */

.services-banner {
  background-image: url("/images/working.JPG");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  object-fit: cover;
  position: relative;
  margin-top: 2%;
}

.big-light {
  text-align: left;
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
  padding-left: 1rem;
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

.services {
  padding-top: 2%;
  color: grey;
  position: relative;
}

.grid-services {
  background-color: #3f3d30;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #8b8273;
  text-align: center;
  margin-left:
  margin-right:
}

.pricing-name {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #8b8273;
}

.sections-h2 {
    text-align: center;
    font-size: 35px;
    color: grey;
    padding: 2%;
  }

.no-bullets {
  list-style: none;
  list-style-position: inherit;
  color: #8b8273;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
}

.blackline3 {
    position: absolute;
    background-image: url('/images/blackline3.svg');
    background-size: 30%;
    background-position: 77% 0%;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.blackline4 {
    position: absolute;
    background-image: url('/images/blackline4.svg');
    background-size: 30%;
    background-position: 77% 0%;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

/* - - - - - - - - contact page - - - - -- - -  */

.padding2 {
  padding-top: 2%;
}

.p-contact {
  color: white;
}

.contact-banner {
  background-image: url("/images/jungle.jpg");
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  object-fit: cover;
  margin-top: 2%;
}

/* - - - - -  - - - - - forms  - - - - - - - - - - - - -  */

input,
textarea {
  border-style: solid;
  border: 2px solid rgb(200, 200, 205);
  padding: 0.8em;
  display: block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e67e22;
  /* featured color */
}

textarea {
  min-height: 7em;
}

input[type="submit"] {
  width: auto;
  display: block;
}

form [class*=col-] {
  padding: 5px;
}

.email-signup input {
  width: 30%;
  display: inline-block;
  max-width: 250px;
  margin-top: 1rem;
}

.email-signup .button-solid {
  padding: 0.8em;
  border-radius: 0;
  font-size: 1rem;
}
 form .button {
   width:100%;
 }

.mob-show {
  display: none;
}


/*  Small gridlex class  */
 @media(max-width:768px) {
   .email-signup input {
     width: 100%;
     max-width: 100%;
   }
   .mob-show {
     display:block;
   }

   .mob-hide {
     display: none;
   }

   .mobile-index1 {
     font-size: 7vw;
   }

   .mobile-index2 {
     font-size: 3.5vw;
   }
   .mobile-button {
    font-size: 1.5vh;
    margin-left: 24%
   }

  .mobile-padding {
    padding:5% 20%;
  }
}

@media(max-width:425px) {
  .mobile-footer {
    font-size: 12px;
  }
  .mobile-title {
    font-size: 20px;
  }
  .mobile-logo {
    font-size: 30px;
  }
  .mobile-banner {
    background-size: 100%;
    min-height: 67vh;
  }
  .mobile-h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
  }
  .mobileh2-text {
    font-size: 10px;
  }
  .mobile-grids {
  font-size: 12px;
}
.mobindex-banner {
  min-height: 80vh;
  background-position: 37%;
}
}
/* - - -- - -  end media querey - -  -- - - --  */
