<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161860931-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161860931-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/bannerimage.jpg" />
    <meta property="og:url" content="https://axeladesigns.com/" />
    <meta property="og:title" content="Axela Designs" />
    <meta property="og:description" content="A design studio with custom coding aimed to improve the online presence of small businesses" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>{{page.title}}</title>

  </head>

  <body>
<!-- - - - - - - -  this is the desktop header - - - - - - - - - - - - -->

<header class="grid-center">
  <nav class="col-4_sm-2-middle right mobnav">
    <a href="index.html#about"> ABOUT </a>
    <a href="index.html#services"> SERVICES </a>
  </nav>
  <div class="col-2-_sm-5-middle centered">
    <a href="index.html">
      <h2 class="logo"> <img src="images/axeladesignslogo.png" alt="Axela Designs Logo" class="logo"> </h2>
    </a>
  </div>
  <nav class="col-4_sm-2-middle mobnav">
    <a href="portfolio.html"> PORTFOLIO </a>
    <a href="index.html#contact"> CONTACT </a>
  </nav>
</header>

<!-- - - -  -  - - - - this is the content - - - - - - - - -  - - -->

    {{content}}

<!-- - - - - - -  - - - - - - this is the footer - - - - - - - - - -->

<footer class="grid">
  <!-- column -->
  <div class="col-5_sm-12">
    <a href="index.html">
    <h2> <img src="images/axeladesignslogo.svg" alt="Axela Designs Logo" class="footer"> </h2>
    </a>
  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle right">
    <nav class="inline">
      <a href="#about"> About </a>|
      <a href="#services"> Services </a>|
      <a href="portfolio.html"> Portfolio </a>|
      <a href="#contact"> Contact </a>
    </nav>
    <nav class="inline socials">
      <a href="https://www.facebook.com/axeladesignss/" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/alexabotello/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </nav>
  </div>
</footer>

<!-- - - - - - -  SCRIPTS - - - - - - - - -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="custom-jquery.js"></script>

  </body>

</html>
