<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400i|Work+Sans:100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>{{page.title}}</title>

  </head>

  <body>
<!-- - - - - - - -  this is the header - - - --- - - -- - - -->
<header class="grid">
  <nav class="col-5-middle">
    <a href="about.html"> About </a>
    <a href="#"> How It Works </a>
  </nav>
  <div class="col-2-middle">
    <a href="index.html">
      <h1 class="header-logo logo"> AXELA <div> DESIGNS </div> </h1>
    </a>
  </div>
  <nav class="col-5-middle text-left">
    <a href="#"> Services </a>
    <a href="#"> Work Together </a>
  </nav>
</header>

<!-- - - -  -  - - - - this is the content - - - - - ----  -- -->

    {{content}}

<!-- - -- - - -  - - --- - this is the footer - - - - - - - - - -->
    <footer class="grid">
      <!-- column -->
      <div class="col-5_sm-12-middle padded">
        <h2 class="footer-logo logo"> AXELA DESIGNS </h2>
      </div>
      <div class="col-1 sm-hidden"></div>
      <!-- column -->
      <div class="col-6_sm-12-middle padded right">
        <nav class="inline">
          <a href="#"> About </a>|
          <a href="#"> How It Works </a>|
          <a href="#"> Services </a>|
          <a href="#"> Work Together </a>
        </nav>
        <nav class="inline socials">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </nav>
      </div>
    </footer>

  </body>

</html>
